<nav class="site-header sticky-top py-1">
  <div class="container d-flex flex-column flex-md-row justify-content-between">
    <%= link_to 'Home', home_path, class: "py-2 d-none d-md-inline-block" %>
    <%= link_to 'Create Post', new_post_path, class: "py-2 d-none d-md-inline-block right" %>
  </div>
</nav>